/* body{
    background-color: red;
} */
/* #cv-form {
    display: none;
} */
#cv-template{
    display: none;
}
.myimg {
    border-radius: 70%;
    width: 200px;
}

.background {
    background-color: rgb(195, 230, 244);
}

.btn.background {
    background-color: rgb(195, 230, 244);
}